* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-image: url(./assets/bg-mobile-light.png);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-image: url(./assets/switch-sun.svg);
  --text-color: black;
}

.dark {
  --background-image: url(./assets/bg-mobile-dark.png);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --switch-bg-image: url(./assets/switch-moon.svg);
  --text-color: white;
}

body {
  background: var(--background-image) 0 / cover;
  height: 100vh;
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

#container {
  margin: 56px auto;
  max-width: 588px;
}

#profile {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

#profile img {
  border: 1px solid var(--stroke-color);
  border-radius: 50%;
  width: 112px;
}

#profile p {
  line-height: 24px;
}

#switch {
  margin: 8px auto;
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  position: relative;
}

#switch div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white var(--switch-bg-image) no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-right 0.2s forwards;
}

#switch:hover div {
  outline: 8px solid var(--highlight-color);
}

.dark #switch div {
  animation: slide-left 0.2s forwards;
}

#links ul {
  padding: 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#links a {
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  display: flex;
  background-color: var(--surface-color);
  padding: 16px 24px;
  font-weight: 500;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s;
}

#links a:hover {
  background-color: var(--surface-color-hover);
}

#social-links ul {
  padding: 24px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#social-links a {
  display: flex;
  padding: 16px;
  font-size: 24px;
}

#social-links a:hover {
  border-radius: 50%;
  background: var(--highlight-color);
  transition: background 0.2s;
}

footer {
  padding: 24px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 800px) {
  :root {
    --background-image: url(./assets/bg-desktop-light.png);
  }

  .dark {
    --background-image: url(./assets/bg-desktop-dark.png);
  }
}

@keyframes slide-right {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-left {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
